<div class="row">
  <div class="col-sm-12">
    <img src="{{recipe.imagePath}}" class="img-fluid"/>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>{{recipe.name}}</h2>
  </div>
  <div class="col-sm-12">
    <div class="dropdown" appCollapse>
      <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" >Manage Recipe</button>
      <div class="dropdown-menu">
        <a routerLink="/shopping-list" (click)="onAddtoShoppingList()" class="dropdown-item" >To Shopping List </a>
        <a [routerLink]="['edit']" class="dropdown-item">Edit Recipe</a>
        <a href="#" class="dropdown-item">Delete Recipe</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <p>{{recipe.description}}</p>
  </div>
  <hr />
  <div class="col-sm-12">
   <h4>Ingredients</h4>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>



